<template>
  <div class="VueToNuxtLogo">
    <button v-on:click="math('add')">Add</button>
    <button v-on:click="math('subtract')">subtract</button>
    <button v-on:click="math('multiply')">multiply</button>
  </div>
</template>

<script>
export default {
  methods: {
    math(params) {
      this.$parent.$emit("doMath", { value: params });
    }
  }
};
</script>
<style>
</style>
