<template>
  <div class>
    <input type="number" placeholder="please enter a number" v-model="num1" @change="updateNum1()" />

    <input type="number" placeholder="please enter a number" v-model="num2" @change="updateNum2()" />
  </div>
</template>

<script>
export default {
  data() {
    return {
      num1: null,
      num2: null
    };
  },
  methods: {
    updateNum1(num1) {
      this.$parent.$emit("Num1Value", { value: this.num1 });
    },
    updateNum2(num2) {
      this.$parent.$emit("Num2Value", { value: this.num2 });
    }
  }
};
</script>

<style>
</style>
