<template>
  <div class="VueToNuxtLogo">{{computedValue}}</div>
</template>

<script>
export default {
  props: {
    computedValue: {
      type: Number,
      required: true
    }
  }
};
</script>
<style>
</style>
