<template>
  <div class="container">
    <div>
      <firstCompnent />
      <div class="actionbox">
        <action />
      </div>
      <div v-if="resultValue !=null">
        <result :computedValue="resultValue" />
      </div>
    </div>
  </div>
</template>

<script>
import firstCompnent from "~/components/input_box.vue";
import action from "~/components/action_box.vue";
import result from "~/components/result_box.vue";

export default {
  data() {
    return {
      resultValue: null,
      number1: null,
      number2: null
    };
  },
  components: {
    firstCompnent,
    action,
    result
  },

  async mounted() {
    this.$on("Num1Value", function(params) {
      this.number1 = parseInt(params.value);
    }),
      this.$on("Num2Value", function(params) {
        this.number2 = parseInt(params.value);
      }),
      this.$on("doMath", function(params) {
        if (this.number1 == null || this.number2 == null) {
          alert("please enter the numbers");
        }
        if (params.value == "add") {
          this.resultValue = this.number1 + this.number2;
        } else if (params.value == "subtract") {
          this.resultValue = this.number1 - this.number2;
        } else {
          this.resultValue = this.number1 * this.number2;
        }
      });
  }
};
</script>
<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.actionbox {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
  padding: 10px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
